.home {
	.main-container {
		display: flex;
		justify-content: center;
		height: 75vh;
		flex-direction: column;
		position: relative;
		padding: 30px;

		.background {
			text-transform: uppercase;
			letter-spacing: 5px;
			background-clip: text;
			font-size: 120px;
			color: var(--bg-text);
			position: absolute;
			z-index: 1;
		}

		.foreground {
			z-index: 2;
			display: flex;
			color: var(--accent-color);
			justify-content: space-between;
			align-items: center;

			.name {
				color: #eee;
				font-size: 70px;
				margin-bottom: 10px;
			}

			.bio {
				width: max-content;
				color: #eee;
				font-size: 28px;
				margin-bottom: 15px;
				position: relative;

				&:before,
				&:after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
				}

				&:before {
					background-color: var(--main-bg);
					animation: typewriter 2.5s steps(24) 500ms forwards;
				}

				&:after {
					width: 2px;
					background-color: var(--accent-color);
					animation: typewriter 2.5s steps(24) 500ms forwards,
						blink 750ms steps(24) infinite;
				}

				.content {
					overflow: hidden;
					position: relative;
					float: left;
					height: 45px;
					padding-top: 10px;
					padding-left: 0;
					margin-top: -10px;

					.flip {
						animation: flip 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
						animation-delay: 2.5s;

						b {
							color: var(--accent-color);
							height: 45px;
							margin-bottom: 45px;
							display: block;

							&:before,
							&:after {
								content: '';
								position: absolute;
								top: 0;
								right: 0;
								bottom: 0;
								left: 0;
							}

							&:before {
								background-color: var(--main-bg);
								animation: typewriter 1s steps(20) 500ms forwards;
							}
						}
					}
				}
			}

			.button {
				background-color: var(--accent-color);
				font-size: 1.25rem;
				padding: 0.5rem 1rem;
				margin-right: 1.5rem;
				color: #eee;
				font-weight: 600;
				border: 2px solid var(--accent-color);
				cursor: pointer;

				&:hover {
					background-color: transparent;
					border: 2px solid var(--accent-color);
				}
			}

			.outlined {
				font-size: 1.25rem;
				padding: 0.5rem 1rem;
				color: #eee;
				border: 2px solid var(--accent-color);
				background-color: transparent;
				cursor: pointer;

				&:hover {
					background-color: var(--accent-color);
				}
			}
		}
	}

	@keyframes flip {
		0% {
			margin-top: -180px;
		}
		5% {
			margin-top: -90px;
		}
		50% {
			margin-top: -90px;
		}
		55% {
			margin-top: 0;
		}
		99% {
			margin-top: 0;
		}
		100% {
			margin-top: -180px;
		}
	}

	@keyframes typewriter {
		to {
			left: 100%;
		}
	}

	@keyframes blink {
		to {
			background: transparent;
		}
	}
}

/* 4K Screens */
@media screen and (min-width: 2000px) {
  .background {
    font-size: 8.5rem;
  }
  .content {
    padding: 0 3rem;
  }
  .name {
    font-size: 6rem;
  }
  .bio {
    font-size: 3rem;
    margin-bottom: 5rem;
  }
  .button {
    font-size: 2rem;
  }
  .outlined {
    font-size: 2rem;
  }
}

/* iPad Pro */
@media screen and (max-width: 1100px) {
  .background {
    display: none;
  }
  .container {
    display: block;
  }
  .foreground {
    margin: 4rem 0;
    display: block;
    text-align: center;
  }
  .name {
    font-size: 4rem;
  }
  .bio {
    font-size: 1.75rem;
    margin: 0.75rem auto 3rem;
  }
}

/* iPad */
@media screen and (max-width: 900px) {
  .foreground {
    margin: 2rem 0;
  }
  .name {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  .bio {
    font-size: 1.5rem;
  }
}

@media screen and (orientation: landscape) and (max-width: 1050px) {
  .container {
    display: flex;
  }
}

/* Phone */
@media screen and (max-width: 600px) {
  .foreground {
    margin: 0;
  }
  .name {
    font-size: 2rem;
  }
  .bio {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
  .button {
    font-size: 1rem;
  }
  .outlined {
    font-size: 1rem;
  }
}